<ion-header>
    <ion-searchbar 
    [(ngModel)]="searchTerm"
    (ionInput)="filterItems()" 
    placeholder="Type here..." >
    </ion-searchbar>
    <ion-navbar>
        <ion-title>My Feed Reader</ion-title>
        <ion-buttons end>
           <button ion-button icon-only (click)="showFilters()">
               <ion-icon name="funnel"></ion-icon>
           </button>
        </ion-buttons> 
    </ion-navbar>
 </ion-header>

<ion-content>

    <ion-icon name="funnel" [style.color]="hasFilter ? 'orange' : 'inherit'"></ion-icon>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let feed of feeds" (click)="functionmodal(feed)">
      <ion-thumbnail item-left>
        <img [src]="feed.data.thumbnail">
      </ion-thumbnail>
      <h2>{{feed.data.title}}</h2>
      <p>{{feed.data.domain}}</p>
    </ion-item>
    <!-- <ion-item *ngFor="let feed of feeds" (click)="functionfiltro( handler)">
      <ion-thumbnail item-left>
        <img [src]="handler.data.thumbnail">
      </ion-thumbnail>
      <h2>{{handler.data.title}}</h2>
      <p>{{handler.data.domain}}</p>
    </ion-item> -->
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>